*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color:white;
    font-family: Spectral;
}

main{
    width: 600px;
    margin: auto;
}

h1{
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    margin-top: 80px;
    margin-bottom: 20px;
}


.flexyflexer{
    display: flex;
    gap: 10;

}

article{
    background-color: white;
    padding: 5px;
    margin: 5px 0;
}

h1 #news{
    background-color: blue;

}
