*{
    box-sizing: border-box;
}
body{
    background-color: #f2f4f3;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px; 
    height: 600px;
    /*margin-top margin-right margin-bottom margin-left*/
    margin: -300px 0 0 -300px; 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;  
}

article {
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px; 
    height: 400px;
    /*margin-top margin-right margin-bottom margin-left*/
    margin: -200px 0 0 -200px; 
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32);  
}

header {
    opacity: 0.5;
    background-image: url(../images/Nature.jpeg);  
    background-size: cover;
    height: 50px;
}

header:hover {
    opacity: 1;
    background-image: url(../images/Nature.jpeg); 
    background-size: cover 50%;
    height: 200px;  
} 

.card__content {
    padding: 10px;
}

 